.DetailsContainer {
  width: 400px;
  position: absolute;
  bottom: 25%;
  left: 40%;
  color: white;

  .PlayerList {
    height: 140px;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.3)
  }
}