.ItemImage {
   position: relative;
   width: 50px;
   height: 50px;
   border-right: 1px solid rgb(83, 83, 83);
   border-radius: 4px;
   transition: 0.15s;
   background-size: contain;
   background-repeat: no-repeat;
   min-width: 50px;

   .Stack {
      position: absolute;
      left: 15px;
      top: 33px;
      color: white;
      text-shadow: 0 0 4px black;
      width: 30px;
      text-align: end;
   }

   .ItemPreviewTooltip {
      position: absolute;
      bottom: 53px;
      left: 100%;
      width: 145px;
      margin: 0 auto;
      padding: 5px;
      background-color: rgba(0, 0, 0, 0.8);
      border: 2px solid silver;
      border-radius: 5px;
      visibility: hidden;
      z-index: 10;
      color: white;
      text-transform: capitalize;
      font-size: 15px;

      .ItemPrevTooltipName {
         font-size: 17px;
      }

      .ItemPrevTooltipSlot {
         display: flex;
         justify-content: space-between;
      }
   }
}

.highlight {
   &:hover {
      box-shadow: inset 0 0 7px 3px #1ba9fd;

      .ItemPreviewTooltip{
         visibility: visible;
      }
   }
}
