# Project
.idea/
.vscode/

# NPM
/node_modules
/dist

# Logs
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log

# System Files
.DS_Store
Thumbs.db

database.yml
database.ts
tmp
cachedDb/*