.circle {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    font-size: 13px;
}

.npc {
    color: #eee;
    background: #272e;
    border: 1px solid #eee;
}

.quest {
    color: #332600;
    background: #FFBF00e0;
    border: 1px solid #332600;
}