.circle {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: #eee;
    background: #272e;
    border: 1px solid #eee;
    border-radius: 20px;
    font-size: 13px;
}
