.control-panel {
    flex: 1;
    box-shadow: 1px 2px 3px #999;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
    
.imageHolder {
    width: calc(96px + 12px);
    height: calc(96px + 12px);
    overflow: hidden;
    box-sizing: border-box;
    border: 6px solid #CCC;
    
    .image {
        width: calc(384px * 3);
    }

    &.active {
        border: 6px solid #1976D3;
    }
}

.list-wrapper {
    flex: 1;
}