.panel {
    flex: 1;
    box-shadow: -1px -2px 3px #999;
    padding: 10px;
    display: flex;
    flex-direction: column;

    .npc-instances-list {
        flex: 1;
    }

    .npc-edit-panel {
        display: flex;
        flex: 1;
        margin-top: 10px;
        flex-direction: column;
        padding: 8px;

        .form-holder {
            flex: 1;
        }

        .button-holder {
            display: flex;
            justify-content: flex-end;
        }
    }
}