.playerIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;

  .playerAvatar {
    border-radius: 50%;
    width: 85px;
    height: 85px;
    border: 5px solid gray;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 25px;
    background-color: black;
  }

  .playerLvl {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 3px solid gold;
    position: absolute;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gold;
    left: 65px;
    bottom: 0;
    background: black;
  }

  .playerRole {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    position: absolute;
    z-index: 9;
    left: 0;
    bottom: 0;
    background-image: url("../../../../assets/spritesheets/partyRoles/dpsIcon.png");
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }

  .barsContainer {
    border-radius: 10px;
    border-width: 0 5px 0 5px;
    border-color: gray;
    border-style: solid;
    padding: 10px 0;
  
    .nameBar {
      color: gold;
      padding: 5px 0;
      border-width: 3px 0 3px 0;
      border-radius: 3px;
      border-style: solid;
      border-color: gray;
      display: flex;
      justify-content: center;
      background-color: black;
    }
  
    .bar {
      width: 200px;
      height: 20px;
      background-color: white;
      border-width: 3px 0 3px 0;
      border-radius: 3px;
      border-style: solid;
      border-color: gray;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      background: black;

      &:hover > div{
        visibility: visible;
      }

      .barText {
        visibility: hidden;
        position: absolute;
        height: 100%;
        width: 100%;
        color: gold;
        z-index: 9;
        text-align: center;
      }

      .hpColor {
        background-color: #2fed00;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
      }
      
      .manaColor {
        background-color: #001ee3;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
      }

      .absorbColor {
        background-color: #e8e8e8;
        position: absolute;
        height: 100%;
        width: 100%;
      }
    }
  }
}

.powerStacks {
  display: flex;
  margin: 0 20px;

  .powerStackCircle {
    margin-right: 20px;
    background-color: gold;
    border: 1px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
}