.ContentWrapper {
    padding: 10px 40px 0 25px;   
    flex: 1;
    display: flex;
    overflow: hidden;
    flex-direction: column;

    .QuestDefinitionHolder {
        overflow-y: scroll;
        flex: 1;
        margin-bottom: 8px;
        padding-bottom: 20px;
    }

    .ActionBar {
        margin: 0 -7px;
        display: flex;
        align-items: center;
    }
}