.BottomBar {
   position: absolute;
   background-image: url('../../../assets/spritesheets/backgrounds/bottomBar.png');
   width: 1539px;
   height: 92px;
   bottom: 0;
   margin-right: auto;
   margin-left: auto;
   left: 0;
   right: 0;
}
