/* You can add global styles to this file, and also import other style files */

@font-face {
   font-family: 'Fritz';
   src: url('./assets/fonts/fritz/FRIZQUAD.ttf') format('truetype');
}

@font-face {
   font-family: 'Morpheus';
   src: url('./assets/fonts/morpheus/MORPHEUS.ttf') format('truetype');
}

body {
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: black;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   cursor: url(apps/chives-and-dill/src/assets/spritesheets/cursors/defaultCursor.png), auto;

   font-family: 'Fritz';

   ::-webkit-scrollbar {
      display: none;
   }

   #root {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .qOpen {
      position: fixed;
      right: 7.5%;
      bottom: 1.5%;
   }
   button,
   input {
      cursor: url(apps/chives-and-dill/src/assets/spritesheets/cursors/defaultCursor.png), auto;
   }
}
