/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black; 
  -webkit-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none;
  user-select: none;

  ::-webkit-scrollbar {
    display: none;
  }
  
  #root { 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .qOpen{
        position:fixed;
        right:7.5%;
        bottom:1.5%;
    }
}