.app-view {
    display: flex;
    flex: 1;

    .map-editor {
        flex: 4;
        margin: 20px;
        padding: 20px;
    }
}

.imageHolder {
    width: 96px;
    height: 96px;
    overflow: hidden;

    .image {
        width: calc(384px * 3);
    }
}