.Item {
   display: flex;
   border: 1px solid rgb(83, 83, 83);
   background: #29292980;
   border-radius: 4px;
   margin-bottom: 4px;
   transition: 0.15s;

   &:nth-child(odd) {
      margin-right: 2px;
   }

   .RewardText {
      color: white;
      display: flex;
      align-items: center;
      text-shadow: 1px 1px black;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin: 3px 0 3px 7px;
   }

   .ItemInfoWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 50px;

      .ItemText {
         color: white;
         display: flex;
         text-shadow: 1px 1px black;
         flex-direction: column;
         align-items: flex-start;
         justify-content: center;
         margin: 3px 0 3px 7px;
         font-size: 12px;
      }
   }
}

.highlight {

   &:hover {
      box-shadow: inset 0 0 5px 1px #1ba9fd;
   }
}
