.LootModalButton {
    width: 100%;
    display: flex;
    justify-content: end;

    .closeButton {
        margin-top: 22px;
    }
}

.LootModal {
  position: absolute;
  height: 364px;
  width: 258px;
  background: url('../../../assets/spritesheets/backgrounds/lootmodal.png');
  z-index: 99;

  .ItemsContainer {
    display: flex;
    margin-bottom: 10px;
    max-width: 100%;
    width: 100%;
    flex-wrap: wrap;
    position: absolute;
    top: 112px;
    left: 28px;

    .Item {
        width: 82%;
        display: flex;
        border: 1px solid rgb(83, 83, 83);
        background: #29292980;
        border-radius: 4px;
        margin-bottom: 4px;

        &:nth-child(odd) {
            margin-right: 2px;
        }

        .ItemImage {
            width: 50px;
            height: 50px;
            border-right: 1px solid rgb(83, 83, 83);
            border-radius: 4px;
        }

        .RewardText {
            color: white;
            display: flex;
            align-items: center;
            text-shadow: 1px 1px black;
            text-align: center;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin: 3px 0 3px 7px;
        }

        .Stack {
            position: relative;
            left: -18px;
            top: 33px;
            color: white;
        }
    }
  }

  .PaginationContainer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 16px;

    .RightPaginationSide {
        position: absolute;
        right: -8px;
        bottom: 0;
    }

    .PaginationSide {
        display: flex;
        align-items: center;
        
        .PaginationButton {
            color: #EEC300;
            background-color: #070807; 
            border-radius: 5px;
            border: 1px solid #666962;
            cursor: pointer;
         }
     
         .PaginationText {
            color: #EEC300;
            margin: 8px;
         }
    }
  }
}