.Button {
    background-color: #640103;
    color: #f5d100;
    border-radius: 4px;
    padding: 2px 15px;
    cursor: pointer;
    font-size: 11px;

    &:disabled {
        background-color: grey;
        
    }
}