.Player {
   width: 100%;
   display: flex;
   margin-bottom: 2px;
   font-size: 14px;

   .ClassIcon {
      width: 25px;
   }

   .ColorBar {
      display: flex;
      flex: 1;
      justify-content: space-between;
      padding: 3px;
      width: 100%;

      .PlayerName {
         width: 60%;
         text-overflow: ellipsis;
         white-space: nowrap;
         overflow: hidden;
      }

      .PlayerData {
         flex-grow: 1;
         display: flex;
         justify-content: flex-end;
      }
   }
}
