.Player {
    width: 100%;
    display: flex;
    margin-bottom: 2px;
    font-size: 14px;

    .ClassIcon {
        width: 25px;
    }

    .BarHolder {
        position: relative;
        flex: 1;
        padding: 3px;
        width: 100%;

        .ColorBar {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            transition: 0.4s;
            background: linear-gradient(90deg, rgba(230, 230, 230, 0.1) 0%, rgba(50, 50, 50, 0.4) 100%);
        }

        .DataHolder {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;

            .PlayerName {
                width: 60%;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            .PlayerData {
                flex-grow: 1;
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}