.OptionsModal {
   width: 150px;
   background-color: aquamarine;
   position: absolute;
   top: 100%;
   padding: 10px;
   background: rgba(11, 10, 12, 0.7);
   border: 1px solid silver;
   border-radius: 8px;
   color: white;
   z-index: 10;

   .Option {
      margin: 2px 0;

      &:hover {
         color: rgb(184, 184, 184);
      }
   }
}
