.sprite-group-panel {
    display: flex;

    .modal-opener {
        margin-top: 8px;
        margin-left: 8px;
        height: 56px;
    }
}


.control-panel {
    flex: 1;
    box-shadow: 1px 2px 3px #999;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.list-wrapper {
    margin-top: 10px;
    flex: 1;
}

.imageHolder {
    overflow: hidden;
    box-sizing: border-box;

    .image {
        width: calc(384px * 2.46875);
    }
}