.sprite-group-panel {
    display: flex;
    margin-top: 8px;

    .sprite-group-select {
        flex: 1;
    }

    .modal-opener {
        margin-left: 8px;
        height: 56px;
    }
}


.control-panel {
    flex: 1;
    box-shadow: 1px 2px 3px #999;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.list-wrapper {
    margin-top: 10px;
    flex: 1;
}

.imageHolder {
    overflow: hidden;
    box-sizing: border-box;
    position: relative;

    .actions {
        position: absolute;
        top: 0;
        left: 0;

        // &:hover {
        //     background-color: rgba(#c0c0c0, 1);
        // }

        .action {
            height: 20px;
            background-color: rgba(#c0c0c0, 0.75);
        }

        .action-enabled {
            background-color: rgba(#ff0000, 0.75);
        }
    }

    .image {
        width: calc(384px * 2.48);
    }
}