.NpcModal {
  position: absolute;
  width: 346px;
  height: 507px;
  top: 15%;
  left: 5%;
  background: url('../../../assets/spritesheets/backgrounds/npcModal.png');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;

  .ModalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .Avatar {
      border-radius: 50%;
      height: 56px;
      width: 56px;
      position: relative;
      top: 6px;
      left: 4px;
    }
  
    .Name {
      color: gold;
      position: relative;
      top: -4px;
    }
  }
}
