.ContentWrapper {
    padding: 25px 40px 0 24px;   
    overflow: scroll;
    flex: 1;
    margin-bottom: 30px;

    .questName {
        cursor: pointer;
    }

    .SectionText {
        font-size: 18px;
    }

    .SectionHeader {
        font-size: 22px;
    }
}
  