.ContentWrapper {
    padding: 10px 40px 0 24px;   
    height: 420px;

    .questName {
        cursor: pointer;
    }

    .SectionText {
        font-size: 18px;
    }

    .SectionHeader {
        font-size: 22px;
    }
}
  