.NpcModal {
   position: absolute;
   width: 346px;
   height: 507px;
   top: 15%;
   left: 5%;
   background: url('../../../../../assets/spritesheets/backgrounds/npcModal.png');
   background-repeat: no-repeat;
   display: flex;
   flex-direction: column;

   .ContentWrapper {
      padding: 35px 40px 0 24px;
      overflow: scroll;
      flex: 1;
      margin-bottom: 30px;

      .TradeModalContainer,
      .SectionQuests {
         display: flex;
         margin-top: 16px;
         align-items: center;
         cursor: url(../../../../../assets/spritesheets/cursors/defaultCursorActive.png), auto;
         transition: all 0.3s;

         img {
            margin: 2px 10px 0;
            height: 16px;
         }

         .TradeModal,
         .QuestName {
            width: 100%;
            font-size: 18px;
            cursor: url(../../../../../assets/spritesheets/cursors/defaultCursorActive.png), auto;
         }
      }
      .TradeModalContainer:hover {
         background-image: linear-gradient(to right, rgb(255, 250, 94, 0.1), rgb(255, 250, 94, 1), rgb(255, 250, 94, 0.1));
      }

      .SectionQuests {
         flex-wrap: wrap;
         .QuestName:hover {
            background-image: linear-gradient(to right, rgb(255, 250, 94, 0.1), rgb(255, 250, 94, 1), rgb(255, 250, 94, 0.1));
         }
      }

      .SectionText {
         font-size: 16px;
      }

      .SectionHeader {
         font-size: 22px;
         font-family: 'Morpheus';
         margin: 10px 0;
      }
   }
}
