.spellsBarContainer {
   display: flex;
   position: absolute;
   bottom: 40px;

   &::before {
      content: '';
      display: block;
      position: absolute;
      left: -60px;
      bottom: -7px;
      width: 75px;
      height: 85px;
      background-image: url('../../../assets/spritesheets/backgrounds/leftSpellBarLion.png');
      background-size: cover;
      z-index: 10;
   }

   &::after {
      content: '';
      display: block;
      position: absolute;
      right: -60px;
      bottom: -7px;
      width: 75px;
      height: 85px;
      background-image: url('../../../assets/spritesheets/backgrounds/spellBarLion.png');
      background-size: cover;
   }

   .spellContainer {
      margin: 0;
      padding: 1px;
      position: relative;
      color: #fff;
      background-color: #2f2e2b;
      border: 3px solid #6c6a62;
      border-left: 2px solid #6c6a62;
      border-right: 1px solid #6c6a62;

      &:nth-of-type(1) {
         border-left: 3px solid #6c6a62;
         border-radius: 10px 0 0 10px;
      }

      &:nth-last-of-type(1) {
         border-right: 3px solid #6c6a62;
         border-radius: 0 10px 10px 0;
      }

      .spellImage {
         width: 45px;
         height: 45px;
         background-size: cover;
         background-color: #6c6a62;
         border: 3px solid #6c6a62;
         clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
      }

      .spellHightlight {
         box-shadow: inset 0 0 7px 3px #b5b7bb;
      }

      .keyboardNumber {
         position: absolute;
         top: 6px;
         right: 9px;
         color: white;
         font-weight: bold;
         font-size: 16px;
         font-family: Arial, Helvetica, sans-serif;
         text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
         z-index: 3;
      }

      .spellHolder:hover + .spellTooltip {
         visibility: visible;
      }

      .spellTooltip {
         background-color: #080d21;
         border: 2px solid silver;
         border-radius: 10px;
         position: absolute;
         bottom: 75px;
         width: 300px;
         left: 50%;
         right: 0;
         margin: 0 auto;
         transform: translateX(-50%);
         color: white;
         padding: 8px;
         visibility: hidden;

         .spellTooltipItem {
            display: flex;
            justify-content: space-between;
         }

         .spellDesc {
            color: gold;
         }
      }

      .cooldown {
         position: absolute;
         opacity: 0.5;
         background-color: black;
         width: 0;
         height: 50px;
         padding: 2px;
         top: 5px;
         left: 3px;
         animation-name: slideCooldown;
         animation-timing-function: linear;
      }
   }
}
