.ExperienceBar {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   bottom: -25px;
   margin: 10px auto;
   border: 1px solid #7f7d78;
   border-radius: 10px;
   height: 13px;
   width: 675px;
   background: repeating-linear-gradient(
      to right,
      transparent,
      transparent 90%,
      rgba(255, 255, 255, 0.3) 90%,
      rgba(255, 255, 255, 0.3) 91%
   );
   background-size: 10% 100%;
   z-index: 1;

   .ProgressBarDetails {
      font-size: 10px;
      z-index: 2;
      color: white;
      visibility: hidden;
   }

   &:hover > .ProgressBarDetails {
      visibility: visible;
   }

   .ProgressBar {
      background-image: linear-gradient(#0c1c5b, #0e2fa3, #0c1c5b);
      position: absolute;
      left: 0;
      bottom: 0;
      height: 100%;
      border-radius: 10px 0 0 10px;
   }
}
