.ItemPreviewTooltip {
    position: absolute;
    width: 160px;
    height: auto;
    margin: 0 auto;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid silver;
    border-radius: 5px;
    z-index: 10;
    color: white;
    text-transform: capitalize;
    font-size: 15px;
}

.childWrapper {
    display: inline-block;
}