.QuestLog {
    position: absolute;
    width: 1000px;
    height: 650px;
    top: 15%;
    left: 5%;
    background: url("../../../../assets/spritesheets/backgrounds/qlog.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-self: center;
    align-items: flex-end;
    
      .QuestList {
        width: 440px;
        height: 460px;
        position: absolute;
        overflow-y: scroll;
        left: 23px;
        top: 120px;
        display: flex;
        align-self: left;
        flex-direction: column;

        .QuestTitle{
          color:rgb(224, 224, 224);
          font-size: 18px;
          padding: 5px 20px;
          cursor: pointer;

          &:hover {
            color:rgb(200, 200, 200);
          }
        }

        .ActiveTitle {
          color: rgb(255, 0, 0);

          &:hover {
            color:rgb(177, 0, 0);
          }
        }
      }
      .QuestDetails {
        width: 440px;
        height: 460px;
        overflow-y: scroll;
        position: absolute;
        top: 120px;
        right: 50px;
        display: flex;
        align-self: right;
        flex-direction: column;

        .QuestDesc {
          padding: 0 25px;

          .activeQuestTitle {
            padding: 5px 0;
            font-size: 2em;
          }

          .activeQuestDesc {
            padding: 10px 0;
          }
        }
      }

      .closeWindow {
        color: white;
        position: absolute;
        right: 4px;
        top: 22px;
        background: transparent;
        border: none;
        padding: 5px 10px;
        display: flex;
        border-radius: 8px;
     }

      .closeWindow:hover {
        color: red;
        cursor: pointer;
      }
  }

