.questsSideViewContainer {
    position: absolute;
    right:0;
    top:0;
    padding: 1em;
    background-color: rgb(20, 20, 20, 0.6);
    width: 200px;

    .sectionTitleContainer {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #ffc506;
        padding-bottom: 5px;

        .sectionTitle {
            color: #ffc506;
            font-size: 1.5em;
        }

        .questViewToggle {
            color: rgb(168, 0, 0);
            padding: 0.3em;
            height: 25px;
            width: 25px;
            cursor: pointer;
            background-color: transparent;
            border: 2px solid #ffc506;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            &:focus {
                outline: 0;
            }
        }
    }

    .questTitle {
        color: #ffc506;
        margin-top: 10px;
        cursor: pointer;

        &:hover {
            color: #c09508;
        }
    }

    .questDesc {
        color: rgb(241, 241, 241);
        margin-top: 0.3em;
        margin-left: 0.5em;
    }

}