.questsSideViewContainer {
    position: absolute;
    right:0;
    top:0;
    padding: 1em;
    background-color: black;
    width: 200px;

    .sectionTitleContainer {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid gold;
        padding-bottom: 5px;

        .sectionTitle {
            color: gold;
            font-size: 1.5em;
        }

        .questViewToggle {
            color: red;
            padding: 0.3em;
            height: 25px;
            width: 25px;
            cursor: pointer;
            background-color: transparent;
            border: 2px solid gold;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            &:focus {
                outline: 0;
            }
        }
    }

    .questTitle {
        color: gold;
        margin-top: 10px;
    }

    .questDesc {
        color: white;
    }

    
}