

    .control-panel {
        flex: 1;
        box-shadow: 1px 2px 3px #999;
        padding: 10px;
    }
    

    
.imageHolder {
    width: 96px;
    height: 96px;
    overflow: hidden;

    .image {
        width: calc(384px * 3);
    }
}