.SectionText {
   font-size: 14px;
   line-height: 1.1;
}

.ItemsContainer {
   display: flex;
   margin-bottom: 10px;
   max-width: 100%;
   flex-wrap: wrap;

   .ItemContainer {
      width: 48%;
   }
}

.stagePartDone {
   color: #525252;
}

.MoneyReward {
   display: flex;
}

.ExperienceReward {
   display: flex;

   .ExperienceAmount {
      color: white;
      margin-left: 10px;
   }
}
