.chatChannels {
    box-sizing: content-box;
    border: 1px solid #dddddd;
    width: 800px;
    height: 600px;

    position: absolute;
    top: 200px;
    left: 200px;
    background: grey;
    display: flex;
    flex-direction: column;

    .channelName {
        padding: 10px;
        background: transparent;
        border: none;
        cursor: pointer;

        &:hover {
            color: gold;
        }
    }

    .contentHolder {
        display: flex;
        flex: 1;
        max-height: 100%;
        overflow: hidden;

        .objectList {
            flex: 1;
            margin: 30px;
            max-width: 50%;
            box-sizing: border-box;
            overflow-y: scroll;

            .listElement {
                max-width: 100%;
                display: flex;

                .crown {
                    height: 16px;
                    margin-right: 8px;
                }

                .memberName {
                    margin-left: 24px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .crown + .memberName {
                    margin-left: 0;
                }
            }

        }
    }

    .actionHolder {
        display: flex;
        padding: 20px;
        justify-content: flex-end;

        .actionButton {
            margin-left: 5px;
        }
    }
}