.chatChannels {
    box-sizing: content-box;
    border: 1px solid #dddddd;
    width: 800px;
    height: 600px;

    position: absolute;
    top: 200px;
    left: 200px;
    background: grey;
    display: flex;
    flex-direction: column;

    .channelName {
        padding: 10px;
        background: transparent;
        border: none;
        cursor: pointer;

        &:hover {
            color: gold;
        }
    }

    .contentHolder {
        display: flex;
        flex: 1;

        .objectList {
            flex: 1;
            padding: 30px;
            max-width: 50%;
            box-sizing: border-box;

            .listElement {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: 100%;
            }

            .crown {
                height: 16px;
                margin-right: 8px;
            }
        }
    }

    .actionHolder {
        display: flex;
        padding: 20px;
        justify-content: flex-end;

        .actionButton {
            margin-left: 5px;
        }
    }
}