.ModalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .Avatar {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    position: relative;
    top: 6px;
    left: 4px;
  }

  .Name {
    color: gold;
    position: relative;
    top: -5px;
  }

  .closeButton {  
    margin-bottom: 12px;
    margin-right: 2px;
    height: 20px;
    font-size: 10px;
    padding: 1px 15px;
  }
}