.MoneyBar {
    display: flex;
    color: white;

    .MoneyTypeContainer {
        display: flex;
        position: relative;
        align-items: center;

        .MoneyAmount {
            margin: 0 2px 0 2px;
            font-size: 15px;
        }

        img {
            transform: translateY(-2px);
            height: 15px;
        }
    }
}