.MoneyBar {
  display: flex;
  color: white;

  .MoneyTypeContainer {
    display: flex;
    position: relative;
    
    .MoneyAmount {
      margin: 0 2px 0 2px;
      font-size: 10px;
    }

    img{
      height: 10px;
    }
  }
}