@use '../../../../../constants/Constants.module.scss' as variables;

.NpcModal {
   position: absolute;
   width: 418px;
   height: 610px;
   top: variables.$modal-top;
   left: 5%;
   background: url('../../../../../assets/spritesheets/backgrounds/npcModal.png');
   background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   z-index: variables.$modal-index;
   background-size: contain;
   
   .ContentWrapper {
      padding: 55px 40px 0 30px;
      flex: 1;
      display: flex;
      overflow: hidden;
      flex-direction: column;

      .QuestDefinitionHolder {
         overflow-y: scroll;
         flex: 1;
         margin-bottom: 8px;
         padding-bottom: 20px;

         h3 {
            font-family: 'Morpheus';
         }
      }

      .ActionBar {
         margin: 3px -7px;
         display: flex;
         align-items: center;
      }
   }
}
