.ContentWrapper {
    padding: 10px 40px 0 25px;   
    height: 420px;

    .QuestDefinitionHolder {
        overflow-y: scroll;
        height: 397px;
    
    }

    .ActionBar {
        margin: 0 -7px;
        display: flex;
        align-items: center;
    }
}