.panel-wrapper {
    padding-top: 10px;
    height: 644px;
}

.data-grid-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 240px;
}

.element-header {
    display: flex;
    justify-content: space-between;
}